/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */
body{
    background-color:white;
    /* font-family: Papyrus; */
    /* font-family: 'Press Start 2P'; */
}
button{
    padding:10px;
    width:20%;
    color:white;
}
#gridContainer{
    display:grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 50% 30%;
}
#cajaJugador1, #cajaJugador2{
    border:1px solid black;
    grid-row:1/2;
    height:500px;
    margin:10px;
    opacity:0.3;
    transition:opacity 1s;
}
#cajaJugador1:hover, #cajaJugador2:hover{
    opacity:1;
}
#palabra{
    grid-column:1/3;
    font-size:40px;
    text-align:center;
}
#categoria{
    font-size:60px;
    text-align:center;
}
